
body {
    margin: 0;
    padding: 0;
   overflow-x: hidden;
   overflow-y: hidden;
   color: #495057;
  }


@media (max-width: 768px) {
    .app-container {
      height: 100vh;
      overflow-y: hidden !important;
      overflow-x: hidden;
    }
    
   
   
  }

.top-nav {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  

.logout-btn {
  font-size: 14px; 
  padding: 6px 12px; 
  background-color: rgba(0, 123, 255, 0.4) !important; 
  color: #fff; 
  border: 2px solid rgba(0, 123, 255, 0.4) !important; 
  border-radius: 20px; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.logout-btn:hover {
  background-color: rgba(0, 123, 255, 0.6) !important; 
  border-color: rgba(0, 123, 255, 0.6)!important;
  transform: scale(1.05);
}





.logout-btn:active {
  transform: scale(0.95);
  background-color: rgba(0, 123, 255, 0.8)!important; 
  border-color: rgba(0, 123, 255, 0.8)!important;
}
.navbar-logo {
  height: 50px;
  width: 200px;
  max-width: 150px;
}

.custom-navbar {
  background-color: #343a40 !important;
}
  